    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* xoa cai khoang trang luc dau cua heading  */
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: "Roboto", sans-serif;
        background-color: #030a1f;
        min-height: 100vh
    }
    
    img {
        max-width: 100%;
        width: 100%;
    }
    /* giup cac hinh anh khong bi vo  */
    /* ::-webkit-scrollbar{
width: 15px;
} */
    
     ::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }
    
     ::-webkit-scrollbar-track {
        background-color: #212737;
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-color: #a2fffa;
        /* visibility: hidden; */
    }
    
     :hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }
    
    .container {
        max-width: 1200 px;
        /* tu dong dat toan bo element sang trai  */
        width: 100%;
        margin: 0 auto;
        /* can chinh lai toan bo element sang phai  */
        padding: 0 20px;
        /* can le tren duoi, trai phai  */
    }
    
    button {
        text-align: center;
        color: var(--blue);
        font-weight: 600;
        background-color: var(--blue);
        padding: .8rem 1rem;
        /* tren duoi .8rem trai phai 2.5 rem  */
        border: none;
        border-radius: 100px;
        cursor: pointer;
        /* dat nut tron  */
        transition: var(--smooth);
    }
    
    button:hover {
        background-color: var(--blue);
        font-weight: 600;
        color: var(--bluedark);
        transition: var(--smooth);
    }
    /* su dung CSS variables de toi uu viec su dung mau sac */
    
     :root {
        --blue: #8fd4ff;
        --green-l: #C7FFD8;
        --bluedark: #0B2F9F;
        --white: #ffff;
        --yellow: #9e9101;
        --smooth: all .3s ease-in;
        /* tao cai smooth do muot cho all elements  */
    }
    /* overlay  */
    
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        z-index: 4;
        display: none;
    }
    
    #overlay.show {
        display: initial;
    }
    /* header  */
    
    .hhpl__links {
        text-align: center;
        color: var(--white);
    }
    
    header {
        position: absolute;
        /* absolute menu nam tren hinh anh cua banner  */
        width: 100%;
    }
    
    .hhpk {
        display: flex;
        /* tat ca element tren mot hang  */
        justify-content: space-between;
        /* justify-content: space-between tu dong tao k/c giua cac elements tren mot hang  */
        align-items: center;
        /* all elements nam chinh giua chieu doc  */
        padding: 20px 0;
        /* khoang cach hang 20px  */
    }
    /* dec menu  */
    
    @media (min-width: 62em) {
        .menu_img img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10px;
        }
        .menu1_img img {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -10px;
        }
        .hhpk__logo img {
            position: sticky;
            transform: translateY(400%);
            transform: translateX(-424%);
            width: 10vh;
            height: 10vh;
            object-fit: cover;
            margin-top: -10px;
        }
    }
    
    */
    /* home */
    
    .hhpk__logo img {
        width: 10vh;
        height: 10vh;
        object-fit: cover;
        margin-left: 30px;
        /* giup hinh luc nao cung cover trong kich thuoc minh decide  */
        /* giup hinh luc nao cung cover trong kich thuoc minh decide  */
    }
    
    .home {
        display: flex;
        align-items: center;
        max-width: 10px;
        /* max-width: 90vh; */
        min-height: 80vh;
        position: relative;
        flex-wrap: wrap;
        top: -100px;
        background-size: cover;
        background-position: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    @media (min-width: 82em) {
        .home_img img {
            transform: translateX(85%) translateY(80%) scale(3);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            max-width: 100%;
            /* Đảm bảo hình ảnh không vượt quá chiều rộng */
            height: auto;
            overflow: hidden;
            /* Giữ tỷ lệ chiều cao */
        }
        .home1_img img {
            position: absolute;
            height: auto;
            /* Giữ chiều cao tự động */
            width: auto;
            /* Giữ chiều rộng tự động */
            transform: translateX(46%) translateY(90%) scale(2);
            top: 0;
            right: 0;
            z-index: -10;
            max-width: 100%;
            overflow: hidden;
            /* Đảm bảo hình ảnh không vượt quá chiều rộng */
        }
    }
    
    .home.content {
        max-width: 50rem;
        z-index: 5;
    }
    
    .home .content h3 {
        font-size: 2.5rem;
        color: var(--white);
        padding: 1rem 0;
        line-height: 50px;
        margin-bottom: 2;
    }
    
    .home .content p {
        font-size: 5rem;
        color: #91ffed;
        padding: 1rem 0;
        margin-left: -0.1cm;
        margin-bottom: 0.2cm;
        line-height: 0.7;
    }
    
    .home .content p1 {
        font-size: 0.9rem;
        color: #030a1f;
        line-height: 3;
        text-align: center;
        background-color: #91ffed;
        padding: .3rem 0.75rem;
        border: none;
        border-radius: 18px;
        cursor: pointer;
    }
    
    @media (min-width: 62em) {
        .home {
            display: flex;
            align-items: center;
            max-width: 100vh;
            min-height: 120vh;
            position: relative;
            flex-wrap: wrap;
            background-size: cover;
            background-position: center;
            margin-left: 90px;
        }
        .home.content {
            max-width: 50rem;
            z-index: 5;
        }
        .home .content h3 {
            font-size: 5rem;
            color: var(--white);
            padding: 1rem 0;
            line-height: 1.2;
            margin-bottom: 2;
        }
        .home .content p {
            font-size: 12rem;
            color: #91ffed;
            padding: 1rem 0;
            margin-left: -0.3cm;
            line-height: 0.8;
        }
        .home .content p1 {
            font-size: 1.5rem;
            color: #030a1f;
            padding: 1rem 0;
            line-height: 3;
            text-align: center;
            background-color: #91ffed;
            padding: .5rem 1rem;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }
    }
    /* menu  */
    
    .hhpk__links {
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: var(--white);
        z-index: 5;
        /* menu nam o tren tat ca elements khac  */
        transition: var(--smooth);
        /* day menu sang trai  */
        transform: translateX(-100%);
        opacity: 0;
    }
    
    .hhpk__links.hhpk__open {
        transform: translateX(0);
        opacity: 1;
        transition: var(--smooth);
    }
    
    .hhpk__link {
        /* tao dau cham cho moi cai tren menu  */
        list-style: none;
        margin: 55px;
    }
    
    .hhpk__link a {
        font-size: 1.2rem;
        text-decoration: none;
        /* xoa di cai duong ben duoi moi chu  */
        color: var(--bluedark);
        font-weight: 600;
        transition: var(--smooth);
    }
    
    .hhpk__link a:hover {
        color: var(--blue);
        transition: var(--smooth);
    }
    
    .hhpk__btn {
        font-size: 1.2rem;
        color: var(--white);
        background-color: var(--bluedark);
        margin-left: 45px;
        /* day khoang cach cac nut vo trai  */
    }
    /* menu button  */
    
    .hhpk__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        margin-left: 45px;
        transition: var(--smooth);
        z-index: 6;
        /* cho no nam o tren tat ca elements khac  */
    }
    
    .hhpk__icon {
        width: 45px;
        height: 5px;
        background-color: var(--white);
        border-radius: 5px;
        transition: var(--smooth);
        position: relative;
    }
    /* xay them hai gach  */
    
    .hhpk__icon:before,
    .hhpk__icon:after {
        content: "";
        position: absolute;
        width: 45px;
        height: 5px;
        background-color: var(--white);
        border-radius: 5px;
        transition: var(--smooth);
    }
    
    .hhpk__icon:before {
        transform: translateY(-12px);
    }
    
    .hhpk__icon:after {
        transform: translateY(12px);
    }
    /* button animation  */
    
    .open .hhpk__icon {
        transform: translateX(-50px);
        background-color: transparent;
    }
    
    .open .hhpk__icon:before {
        transform: rotate(45deg) translate(35px, -35px);
        /* tranlate(x,y)  */
    }
    
    .open .hhpk__icon:after {
        transform: rotate(-45deg) translate(35px, 35px);
        /* tranlate(x,y)  */
    }
    /* media cho chon do phan giai va show element tren do phan giai do  */
    
    @media (min-width: 62em) {
        .hhpk__links {
            position: initial;
            transform: translateX(0);
            opacity: 1;
            background-color: transparent;
            display: flex;
            justify-content: flex-end;
            /* day menu sang phia ben phai  */
            align-items: center;
        }
        .hhpk__link a {
            color: var(--white);
        }
        .hhpk__icons {
            display: none;
        }
        .hhpk__btn {
            color: var(--bluedark);
            background-color: var(--white);
        }
    }
    /* lithuyet  */
    
    .LT {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        background-size: cover;
        background-position: center;
        margin-left: 50px;
        margin-right: 50px;
        /* text-align: center; */
    }
    
    .LT.content {
        /* max-width: 50rem; */
        margin-left: 50px;
        margin-right: 50px;
        z-index: 5;
    }
    
    .LT .content h1 {
        font-size: 2.5rem;
        color: var(--white);
        padding: 1rem 0;
        line-height: 20px;
        /* margin-bottom: 2; */
    }
    
    .LT .content h2 {
        font-size: 4rem;
        color: #91ffed;
        padding: 1rem 0;
        /* margin-left: -0.1cm;
margin-bottom: 0.2cm; */
        line-height: 2cm;
    }
    
    .items img {
        align-items: center;
        width: 100%;
        padding-bottom: 0;
        z-index: 5;
    }
    
    .items a {
        text-decoration: none;
        flex-wrap: wrap;
        text-align: center;
        color: #010c48;
        /* padding: 1rem 0; */
        line-height: 50px;
        z-index: 1;
        align-items: center;
        /* background-color: #91ffed;
padding: .3rem 0.75rem;
border: none;
border-radius: 14px;
cursor: pointer; */
    }
    
    .items a:hover {
        /* color: var(--blue);
background-color: #010c48; */
        transition: var(--smooth);
        opacity: 40%;
    }
    
    .links a {
        text-decoration: none;
        font-size: 1.5em;
        flex-wrap: wrap;
        text-align: center;
        color: #010c48;
        padding: 1rem 0;
        line-height: 50px;
        z-index: 1;
        align-items: center;
        background-color: #91ffed;
        padding: .3rem 0.75rem;
        border: none;
        border-radius: 14px;
        cursor: pointer;
    }
    
    .links a:hover {
        color: var(--blue);
        background-color: #010c48;
        transition: var(--smooth);
    }
    
    .readmore a {
        text-decoration: none;
        font-size: 1.5em;
        transform: translateY(50px);
        flex-wrap: wrap;
        color: #010c48;
        padding: 1rem 0;
        line-height: 50px;
        background-color: #91ffed;
        padding: .3rem 0.75rem;
        border: none;
        border-radius: 14px;
        cursor: pointer;
        text-align: right;
    }
    
    .readmore a:hover {
        text-align: right;
        color: var(--blue);
        background-color: #010c48;
        transition: var(--smooth);
    }
    
    .LT .content h3 {
        margin-top: 60px;
        text-align: right;
        font-size: 2.5rem;
        color: var(--white);
        padding: 1rem 0;
        line-height: 20px;
    }
    
    .LT .content h4 {
        text-align: right;
        font-size: 4rem;
        color: #91ffed;
        padding: 1rem 0;
        line-height: 2cm;
    }
    
    .tomtat {
        max-width: fit-content;
        text-align: right;
        font-size: 1.25rem;
        color: #c2eeff;
        padding: 1rem 0;
        line-height: 1cm;
        justify-content: right;
    }
    
    .accordion {
        max-width: fit-content;
        flex-wrap: wrap;
        margin: 60px auto;
        width: 900px;
        justify-content: right;
    }
    
    .accordion li {
        list-style: none;
        width: 100%;
        margin: 20px;
        padding: 10px;
        border-radius: 8px;
        background: #e3edf7;
        box-shadow: 6px 6px 10px -1px rgb(153, 255, 252), -6px -6px 10px -1px rgb(25, 25, 26),
    }
    
    .accordion li label {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }
    
    label::before {
        content: '+';
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    .accordion .content {
        color: #555;
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
        ;
    }
    
    .accordion input[type="radio"]:checked+label+.content {
        max-height: 400px;
        padding: 10px 10px 20px;
    }
    
    .accordion input[type="radio"]:checked+label::before {
        content: '-';
    }
    
    .code a {
        text-decoration: none;
        font-size: 1em;
        /* flex-wrap: wrap; */
        color: var(--blue);
        padding: 1rem 0;
        background-color: #010c48;
        padding: .1rem 0.75rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-align: right;
    }
    
    .code a:hover {
        text-align: right;
        background-color: var(--blue);
        color: #010c48;
        transition: var(--smooth);
    }
    
    @media (min-width: 62em) {
        .item__full {
            margin-left: 80px;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
        }
        .items {
            /* line-height: ; */
            margin: 0 6 em;
            height: 12%;
            width: 12%;
            z-index: 3;
        }
        .links {
            transform: translate(10px, 50px);
            z-index: 4;
            margin: 0 5 em;
        }
        .readmore {
            text-align: right;
            /* transform: translate(1000px, 500px); */
            z-index: 4;
            justify-content: right;
            margin: 0 5 em;
        }
        .tomtat {
            text-align: right;
            max-width: fit-content;
            font-size: 1rem;
            padding-left: 700px;
            justify-content: right;
        }
        .accordion {
            display: flex;
            margin-top: -10px;
            margin-left: 20px;
            flex-wrap: wrap;
            justify-content: left;
        }
    }
    /* bai tap  */
    
    #BT {
        display: flex;
        max-width: fit-content;
        /* position: relative; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 90px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-top: 20px;
        width: auto;
        height: auto;
    }
    
    .BT {
        max-width: fit-content;
        background-color: #121637;
        border-radius: .8rem;
        overflow: hidden;
    }
    
    .table__header {
        width: 100%;
        height: 0%;
        padding: 10px 10px;
    }
    
    .BT h1 {
        font-size: 2.5rem;
        color: var(--white);
        padding: 0.1rem 3rem;
        margin-top: 5px;
    }
    
    .table__body {
        max-width: fit-content;
        width: 90%;
        max-height: calc(89% - .1.6rem);
        background-color: rgb(7, 24, 74);
        margin: .8rem auto;
        border-radius: .8rem;
        overflow: auto;
    }
    
    .table__body::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }
    
    .table__body::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-color: #0004;
        visibility: hidden;
    }
    
    .table__body:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }
    
    Bt {
        width: 100%;
    }
    
    BT,
    th,
    td {
        border-collapse: collapse;
        padding: 1rem;
        color: #e3edf7;
        text-align: center;
    }
    
    thead th {
        position: sticky;
        top: 0;
        left: 0;
        background-color: #212864;
    }
    
    tbody tr:nth-child(even) {
        background-color: #212864;
    }
    
    tbody tr:hover {
        background-color: #3f497e;
    }
    /* status  */
    
    #fireworksCanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        /* Không cho canvas chặn các sự kiện chuột */
        display: none;
        /* Ẩn canvas ban đầu */
        z-index: 9999;
        /* Đặt lên trên cùng */
    }
    
    .select-status {
        width: 150px;
        /* margin: 140px auto; */
    }
    
    .select-status .select-btn {
        display: flex;
        height: 20px;
        background: #8c7dff;
        padding: 22px;
        font-size: 15px;
        border-radius: 40px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    
    .select-btn i {
        font-size: 25px;
        transition: 0.3s;
    }
    
    .select-status.active .select-btn i {
        transform: rotate(-156deg);
    }
    
    .select-status .options {
        position: relative;
        padding: 5px;
        margin-top: 5px;
        border-radius: 8px;
        background: #ffffff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        display: none;
    }
    
    .select-status.active .options {
        display: block;
    }
    
    .options .option {
        display: flex;
        height: 55px;
        cursor: pointer;
        padding: 0 8px;
        border-radius: 8px;
        align-items: center;
        background: #fff;
    }
    
    .options .option:hover {
        background: #61b4be47;
    }
    
    .option i {
        font-size: 25px;
        margin-right: 12px;
    }
    
    .option .option-text {
        font-size: 15px;
        color: #333;
    }
    
    .status {
        padding: .4rem 1rem;
        border-radius: 2rem;
    }
    
    .status.easy {
        background-color: #d3db61;
        color: #1c024c;
        text-align: center;
    }
    
    .status.normal {
        background-color: #eaa577;
        color: rgb(13, 6, 26);
        text-align: center;
    }
    
    .BT__links a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #00fff2;
        transition: var(--smooth);
    }
    
    .BT__links a:hover {
        color: #dbeaff;
        transition: var(--smooth);
    }
    
    .sol__links a {
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--white);
        transition: var(--smooth);
    }
    
    .sol__links a:hover {
        color: #00fff2;
        transition: var(--smooth);
    }
    
    @media (max-width:80px) {
        td: not(:first-of-type) {
            min-width: 12.1rem;
        }
        #BT {
            display: flex;
            max-width: fit-content;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-left: 1000px;
            margin-bottom: 50px;
            margin-top: 20px;
            width: auto;
            height: auto;
        }
    }
    /* footer  */
    
    #footer {
        width: 100%;
        justify-content: space-between;
        /* margin-bottom: -270em; */
        position: realative;
        bottom: 0;
        left: 0;
        right: 0;
        /* position: afixed; */
        flex-wrap: wrap;
        bottom: 0;
        background: linear-gradient(to right, #010c48, #230a91);
        color: #fff;
        padding: 2px 0 1px;
        border-top-left-radius: 100px;
        font-size: 13px;
        line-height: 10px;
        z-index: 1000;
    }
    
    .footer__contact {
        margin-top: 1em;
        font-size: 5px;
    }
    
    .footer__contact a {
        text-decoration: none;
        color: var(--white);
        line-height: 0;
        /* margin-bottom: 1em; */
        justify-content: space-evenly;
        font-size: 20px;
    }
    
    .footer__contact a p {
        line-height: 1cm;
        font-size: 1.5rem;
    }
    
    .banner__socials {
        margin-left: -2cm;
        margin-top: 0.2cm;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
    
    .banner__socials a {
        color: var(--white);
        transition: var(--smooth);
    }
    
    .banner__socials a:hover {
        color: var(--green-l);
        transition: var(--smooth);
    }
    
    .row {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .col {
        flex-basis: 30%;
        padding: 10px;
    }
    
    .col h1 {
        width: fit-content;
        font-size: 2rem;
        padding-top: 1em;
        margin-bottom: 0.2em;
        line-height: 1cm;
        /* margin-bottom: 40px; */
        position: relative;
    }
    
    .col h2 {
        width: fit-content;
        font-size: 2rem;
        padding-top: 1em;
        margin-bottom: 0.2em;
        line-height: 1.3em;
        /* margin-bottom: 40px; */
        position: relative;
    }
    
    .footer__heading--p2 {
        font-size: 16px;
        font-weight: 350;
        line-height: 1.7em;
        margin-bottom: 1.5em;
    }
    
    .footer__heading--p2:hover {
        color: var(--green-l);
        transition: var(--smooth);
    }
    
    .col h3 {
        width: fit-content;
        font-size: 2rem;
        padding-top: 1em;
        margin-bottom: 0.2em;
        line-height: 1.3em;
        /* margin-bottom: 40px; */
        position: relative;
    }
    
    .footer__links a {
        font-size: 18px;
        font-weight: 350;
        line-height: 1.7em;
        margin-bottom: 1.5em;
        text-decoration: none;
        color: var(--white);
        /* xoa di cai duong ben duoi moi chu  */
    }
}
.footer__heading--p3 {
    font-size: 18px;
    font-weight: 350;
    line-height: 1.7em;
    margin-bottom: 1.5em;
}
.footer__links a {
    font-size: 18px;
    font-weight: 350;
    line-height: 1.7em;
    margin-bottom: 1.5em;
}
.footer__links a:hover {
    color: #00fff2;
    transition: var(--smooth);
}
hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
}
.copyright {
    text-align: center;
    margin: 20px 0;
    font-size: 1rem;
}
@media (min-width: 80rem) {
    /* #footer {
margin-bottom: -148em;
} */
    
    .footer__contact {
        flex-wrap: wrap;
        display: flex;
    }
    
    .banner__socials {
        margin: initial;
        margin-left: -3cm;
        margin-top: 0.2cm;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
    
    .row {
        width: 95%;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
}

/* sol  */
#Sol {
    display: flex;
    align-items: center;
    top: 150px;
    position: relative;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 200px;
    transition: var(--smooth);
}
.Sol .content h3 {
    font-size: 2.5rem;
    color: var(--white);
    padding: 1rem 0;
    transition: var(--smooth);
}
.Sol .content h2 {
    font-size: 5rem;
    color: #91ffed;
    padding: 1rem 0;
    margin-left: -0.1cm;
    margin-bottom: 0.1cm;
    line-height: 100px;
    transition: var(--smooth);
}
.accordion {
    max-width: fit-content;
    flex-wrap: wrap;
    margin: 60px auto;
    width: 900px;
    justify-content: right;
}
.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgb(153, 255, 252), -6px -6px 10px -1px rgb(25, 25, 26),
}
.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}
input[type="radio"] {
    display: none;
}
.accordion .content {
    flex-wrap: wrap;
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    ;
}
.accordion input[type="radio"]:checked+label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked+label::before {
    content: '-';
}
.accordion .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

/* Tùy chỉnh scrollbar */
.accordion .content::-webkit-scrollbar {
    width: 10px;
    /* Độ rộng của scrollbar */
}
.accordion .content::-webkit-scrollbar-track {
    background: #e3edf7;
    /* Màu nền của track scrollbar */
    
    border-radius: 10px;
    /* Bo tròn góc track scrollbar */
}
.accordion .content::-webkit-scrollbar-thumb {
    background: #100739;
    /* Màu của thumb scrollbar */
    
    border-radius: 10px;
    visibility: hidden;
    /* Bo tròn góc thumb scrollbar */
}
.accordion .content::-webkit-scrollbar-thumb:hover {
    visibility: visible;
    /* Màu của thumb khi hover */
}
.accordion .content p a {
    text-decoration: none;
    color: #182b96;
}
.accordion .content p a:hover {
    color: #04dfeb;
}
@media (min-width: 60rem) {
    #Sol {
        display: flex;
        align-items: center;
        top: 150px;
        position: relative;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 200px;
        transition: var(--smooth);
    }
    
    .accordion {
        margin: 0;
        margin-top: 40px;
        justify-content: left;
    }
}

/* frame code */
.code-frame {
    margin-left: 20px;
    margin-right: 10px;
    max-height: 1200px;
    width: auto;
    height: auto;
    background-color: #e3edf7;
    flex-wrap: wrap;
    padding: 20px 30px;
    border-radius: 8px;
    /* overflow-x: auto;
z-index: 4;
box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); */
}
.Sol h1 {
    font-size: 1.5rem;
    color: #031549;
}
pre {
    max-height: 1000px;
    background-color: rgb(4, 9, 24) !important;
    padding: 1rem;
    border-radius: 8px;
    overflow: auto;
    /* Để cho phép cuộn */
    
    text-align: right;
}

/* Tùy chỉnh scrollbar cho phần tử pre */
pre::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* Độ rộng của scrollbar */
}
pre::-webkit-scrollbar-track {
    background: #282c34;
    /* Màu nền của track scrollbar */
    
    border-radius: 10px;
    /* Bo tròn góc track scrollbar */
}
pre::-webkit-scrollbar-thumb {
    background: #0004;
    /* Màu của thumb scrollbar */
    
    border-radius: 10px;
    /* Bo tròn góc thumb scrollbar */
}
pre::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
    /* Màu của thumb khi hover */
}
code {
    display: inline-block;
    /* Đảm bảo căn lề hiệu quả */
    
    text-align: left;
    /* Căn lề sang phải */
    
    margin-right: -100vh;
    /* Khoảng cách giữa chữ và khung */
}

/* Override Prism.js token colors */
.token.comment {
    color: #e296fa !important;
    /* Dark green for comments */
}
.token.keyword {
    color: #fff47c !important;
    /* Purple for keywords */
}
.token.string {
    color: #98c379 !important;
    /* Light green for strings */
}
.token.function {
    color: #fb70ca !important;
    /* Light blue for functions */
}
.token.property {
    color: #f15d69 !important;
    /* Light red for properties */
}
.token.selector {
    color: #e1954e !important;
    /* Orange for selectors */
}
.token.variable {
    color: #56b6c2 !important;
    /* Cyan for variables */
}
.token.number {
    color: #d19a66 !important;
    /* Orange for numbers */
}
.link a {
    font-size: 1.2rem;
    text-decoration: none;
    /* xoa di cai duong ben duoi moi chu  */
    
    color: rgb(198, 250, 255);
    margin: 0;
    max-width: 150vh;
    min-height: 300vh;
    position: relative;
    flex-wrap: wrap;
    margin-left: -23px;
    margin-right: 30px;
    font-weight: 400;
    margin-bottom: 100px;
    transition: var(--smooth);
}
.link a:hover {
    color: #97fef4;
    font-weight: 400;
    transition: var(--smooth);
}

/* quay ve home  */
@media (min-width: 60rem) {
    .code-frame {
        width: 860px;
        height: auto;
    }
    /*